<h1>Criar Terefas</h1>

<form action="/tarefas/save" method="post">
    <input type="text" name="titulo" placeholder="Digite o título da tarefa">
    <br>
    <textarea name="descricao" cols="30" rows="10"></textarea>
    <br>
    <input type="submit" value="Cadastrar Tarefa">
</form>